/*
Nota: por default mi browser unicamente entiende codigo que se encuentra en css, es decir no entiende codigo SASS,
para poder compilar codigo SASS, se requiere el siguiente comando:
1) Archivo que quiero compilar
2) El archivo que voy a generar
ejemplo Compilar:
sass variables.scss:variables.css
3) para automatizar ese proceso de compilacion que no se tenga que hacer a cada rato:
'sass --watch variables.scss:variables.css'

3) se cambio la politica de ejecucion del powr shell con:
Get-ExecutionPolicy
Set-ExecutionPolicy RemoteSigned
originalmente tenia: AllSigned
*/




//declaracion de variables en SASS
$color: blue;
div > ul
{

}
ul{
    font-size: 14px;
    color: $color;
}

ol{
    font-size: 18px;
    color: $color;
}